{% extends "base.html" %}
{% load static %}

{% block title %}Dupla de Milheiros - Aprenda a Viajar com Milhas{% endblock %}
{% block meta_description %}Bem-vindo ao universo das milhas aéreas. Aprenda estratégias para viajar o mundo gastando menos com Pedro e Geovana, a Dupla de Milheiros.{% endblock %}

{% block body %}

<div class="container mt-4">
    
    <div class="row mb-4">
        <div class="col text-center">
            <h1 class="titulo-home">Bem-vindo ao Universo das Milhas Aéreas – Sua passagem para viagens exequíveis!</h1>
        </div>
        </div>

    <div class="row align-items-center mb-5">
        <div class="col-md-4">
            <img src="{% static 'images/image1.jpeg' %}" class="img-fluid rounded" alt="Pessoas felizes a planear uma viagem com milhas" loading="lazy">
        </div>

        <div class="col-md-8">
            <p class="fs-3">
                Você já imaginou explorar o mundo sem gastar uma fortuna? Viajar para destinos paradisíacos com passagens gratuitas, alugar um carro e se hospedar em Paris pagando quase nada, ou até economizar no Uber enquanto conhece Nova York?
                Somos Pedro e Geovana, a Dupla de Milheiros, e estamos aqui para te mostrar que tudo isso é possível com milhas. Viajar barato não é sorte, mas sim estratégia. 
            </p>
        </div>
    </div>

    <div class="row align-items-center mb-5">
        <div class="col-md-8">
            <p class="fs-3">
                O que começou como uma curiosidade se transformou em nossa maior paixão. Aprendemos sobre o assunto mas para dominar o universo das milhas, foi preciso muito estudo, planejamento e prática, transformamos conhecimento em viagens e economia no dia a dia.
                Depois de conhecer lugares incríveis graças às milhas, decidimos compartilhar esse conhecimento com quem também deseja viver essa experiência.
                Criamos a Trilha das Milhas para ensinar, passo a passo, como transformar pontos acumulados em experiências inesquecíveis.
            </p>
        </div>

        <div class="col-md-3">
            <img src="{% static 'images/image2.jpeg' %}" class="img-fluid rounded" alt="Asa de avião sobrevoando montanhas nevadas" loading="lazy">
        </div>
        
    </div>

    <div class="row text-center mb-5">
        <div class="col">
            <p class="fs-3">
                Descubra as melhores estratégias para maximizar seus pontos sem gastar mais. Fique por dentro das melhores ofertas e saiba como aproveitar cada promoção ao máximo.  
                As milhas aéreas são muito mais do que simples descontos, elas representam uma forma de viajar com liberdade financeira, permitindo que você explore o mundo sem comprometer seu orçamento. Com conhecimento e estratégia, você pode transformar boletos em passagens e pontos em carimbos no passaporte!
            </p>
            <p class="lead">Embarque nessa jornada com a gente. O mundo está esperando por você! 🌍✈️</p>
        </div>

    </div>
    
</div>


{% endblock body %}