{% extends "base.html" %}

{% block title %}Login - Dupla de Milheiros{% endblock %}
{% block meta_description %}Faça login na sua conta para acessar seus cursos sobre milhas aéreas.{% endblock %}

{% block body %}



<div class="container mt-5 login-container">
    <div class="login-form-container">
        <h2>Login</h2>
        <form method="post" novalidate>

            {% csrf_token %}

            <div class="mb-3 form-field-custom">
                {{ form.username.label_tag }}
                {{ form.username }}
                {% if form.username.errors %}
                    <div class="invalid-feedback d-block">
                        {% for error in form.username.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <div class="mb-3 form-field-custom">
                {{ form.password.label_tag }}
                {{ form.password }}
                {% if form.password.errors %}
                    <div class="invalid-feedback d-block">
                        {% for error in form.password.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            {% if form.non_field_errors %}
                <div class="alert alert-warning mt-3" role="alert">
                    {% for error in form.non_field_errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}

            <button type="submit" class="btn btn-login">Entrar</button>

        </form>

        <p class="mt-2">
            Não tem uma conta? <a href="{% url 'signup' %}">Faça seu cadastro!</a> 
        </p>
        <p class="mt-2">
            <a href="{% url 'password_reset' %}">Esqueceu a sua senha?</a>
        </p>

    </div>
</div>
{% endblock body %}
